{% extends "base.html" %}
{% load static %}
{% block title %}Change Password{% endblock title %}
{% block css %}<link rel="stylesheet" href="{% static 'css/registration.css'%}">{% endblock css %}
{% block content %}
<div class="container-fluid main">
    <div class="wrapper ">
        <div class="form-box login">
            <h2>New Password</h2>
            
            <!-- Error message display -->
            {% if form.errors %}
            <ul>
                {% for field, errors in form.errors.items %}
                    {% for error in errors %}
                        <li>{{ field|title }}: {{ error }}</li>
                    {% endfor %}
                {% endfor %}
            </ul>
            {% endif %}
          <!-- Other HTML content -->

          <form action="{% url 'password_change' %}" method="post">
            {% csrf_token %}
            <div class="input-box">
                <span class="icon"><ion-icon name="key"></ion-icon></span>
                {{ form.old_password }}
                <label for="id_old_password">Old Password</label>
            </div>
        
            <div class="input-box">
                <span class="icon"><ion-icon name="lock-closed"></ion-icon></span>
                {{ form.new_password1 }}
                <label for="id_new_password1">New Password</label>
            </div>
        
            <div class="input-box">
                <span class="icon"><ion-icon name="lock-closed"></ion-icon></span>
                {{ form.new_password2 }}
                <label for="id_new_password2">Confirm Password</label>
            </div>
        
            <div class="remember-forget">
                <a href="{% url 'password_reset'%}">Forget Password?</a>
            </div>
        
            <button type="submit" class="submit-login-btn">Change Password</button>
        </form>
        
        </div>
    </div>
</div>
{% endblock content %}