{% extends "base.html" %}
{% load static %}
{% block title %}Reset Password{% endblock title %}
{% block css %}<link rel="stylesheet" href="{% static 'css/registration.css'%}">{% endblock css %}
{% block content %}
<div class="container-fluid main">
    <div class="wrapper ">
        <div class="form-box login">
            <h2>Enter New Password</h2>
            
            <!-- Error message display -->
    {% if messages %}
       {% for message in messages %}
            <div class="error-message">
             {{ message }}
            </div>
         {% endfor %}
    {% endif %}
          <!-- Other HTML content -->

          <form action="{% url 'password_reset_confirm' uidb64=request.resolver_match.kwargs.uidb64 token=request.resolver_match.kwargs.token %}" method="post">
            {% csrf_token %}
            <div class="input-box">
                <span class="icon"><ion-icon name="mail"></ion-icon></span>
                {{ form.new_password1 }}
                <label for="id_password">New Password</label>
            </div>
            <div class="input-box">
                <span class="icon"><ion-icon name="mail"></ion-icon></span>
                {{ form.new_password2 }}
                <label for="id_password2">New Password Confirmation</label>
            </div>
        
            <button type="submit" class="submit-login-btn">Reset Password</button>
        </form>
        
        </div>
    </div>
</div>
{% endblock content %}